[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
# Linters
black = "==20.8b1"
flake8 = "*"
isort = "*"
# Testing
pytest = "*"
factory-boy = "*"
pytest-mock = "*"
pytest-freezegun = "*"

[packages]
# Flask
Flask = "*"
Flask-Admin = "*"
Flask-BasicAuth = "*"
Flask-Caching = "*"
Flask-Compress = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
# Dash
dash = "*"
plotly = "*"
# Data
numpy = "*"
pandas = "*"
scipy = "*"
# Parsing
beautifulsoup4 = "*"
requests = "*"
entrypoints = "*"
# Environment
python-dotenv = "*"
# Utils
python-dateutil = "*"
# Server
gunicorn = "==20.0.4"
# DB
redis = "*"
psycopg2-binary = "*"
# Task scheduler
APScheduler = "*"
sentry-sdk = {extras = ["flask"], version = "*"}
python-telegram-bot = "*"

[requires]
python_version = "3.7"
