@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap&subset=cyrillic');

body {
  font-family: 'Roboto Slab', sans-serif;
  background-color: #1a1c23;
  margin: 1rem;
}

h1, h2, h3, h4, h5, h6, label, p {
  color: #bdbdbd;
}

.box, .card, .panel, .slider-wrapper {
  background-color: #22252b;
}

.main-title {
  margin: 0;
  padding: 1rem;
  font-size: 2rem;
}

.box {
  text-align: center;
  padding: 1rem;
}

.card {
  padding: 1rem;
  text-align: center;
}

.card-title, .card-subtitle {
  margin: 0;
}

.card-title {
  font-size: 5rem;
  font-weight: 700;
}

.card-subtitle {
  font-size: 1rem;
}

.danger {
  color: rgb(230, 0, 0);
}

.success {
  color: rgb(112, 168, 0);
}

.map-wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-gap: 1rem;
}

#map {
  height: 100%;
  position: relative;
}

#slider {
  padding: 0 1rem 1rem 1rem !important;
}

.slider-wrapper {
  text-align: center;
}

.rc-slider-track {
  background-color: rgb(250,170,0);
}

.rc-slider-handle {
  border: 2px solid rgb(250,170,0);
}

.rc-slider-dot, .rc-slider-dot-active {
  display: none;
}

#launch-map-button {
  margin-top: 1rem;
}

.updatemenu-item-rect {
  text-align: center !important;
}

.dashboard {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr 6fr;
  grid-template-areas:	  "header header"
			  "summary main"
			  "charts charts"
			  "footer footer"
}

.summary{
  grid-area: summary;
  display: grid;
  grid-gap: 1rem;
}

.main {
  grid-area: main;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 2fr 1fr;
}

.charts {
  grid-area: charts;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 3fr 2fr 2fr;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

@media (max-width: 800px) {
  .dashboard {
    grid-gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:    "summary"
			    "main"	
			    "charts"
			    "header"
			    "footer"
  }

  .summary {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .main {
    display: block;
  }

  .charts {
    display: block;
    margin-top: 1rem;
  }

  .map-wrapper {
    grid-gap: 0;
    grid-template-rows: auto auto;
  }

  #map {
    height: 400px;
  }

  body {
    margin: 0;
    background-color: #22252b;
  }

  .main-title {
    padding: 0;
    font-size: 1rem;
  }

  .card {
    padding: .5rem;
  }

  .card-title {
    font-size: 1.75rem;
  }

  .card-subtitle {
    font-size: .5rem;
  }

  .dash-spreadsheet-container table {
    font-size: .9rem !important;
  }

  .is-hidden-mobile {
    display: none;
  }
}

.modebar{
  display: none !important;
}

.dash-spreadsheet-container table {
    font-size: 1rem !important;
    --accent: rgba(230,0,0,.7) !important;
    --selected-background: rgba(230,0,0,.7) !important;
    --selected-color: #bdbdbd !important;
}

.react-entry-point {
  display: flex;
  justify-content: center;
  align-items: center;
}

._dash-loading {
  color: rgb(230,0,0);
  font-size: 30px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
